/*
==========
Variables
==========
*/
:root{
  /* dark primary shades */
  --clr-primary-1: hsl(205, 69%, 17%);
  --clr-primary-2: hsl(205, 61%, 21%);
  --clr-primary-3: hsl(205, 65%, 25%);
  --clr-primary-4: hsl(205, 69%, 27%);
  /* light primary shades */
  --clr-primary-5: #49a6e9;
  
  --clr-primary-6: hsl(205, 67%, 49%);
  --clr-primary-7: hsl(205, 69%, 65%);
  --clr-primary-8: hsl(205, 75%, 74%);
  --clr-primary-9: hsl(205, 65%, 78%);
  --clr-primary-10: hsl(205, 60%, 85%);

   /* dark secondary shades */
  --clr-secondary-1: hsl(181, 75%, 21%);
  --clr-secondary-2: hsl(185, 100%, 19%);
  --clr-secondary-3: hsl(183, 84%, 23%);
  --clr-secondary-4: hsl(184, 94%, 25%);

  /* light secondary shades */
  --clr-secondary-5: #28cab2;
  --clr-secondary-6: hsl(182, 100%, 62%);
  --clr-secondary-7: hsl(181, 81%, 69%);
  --clr-secondary-8: hsl(185, 71%, 69%);
  --clr-secondary-9: hsl(183, 88%, 75%);
  --clr-secondary-10: hsl(181, 68%, 79%);

  /* dark grey shades */
  --clr-grey-1: hsl(210, 69%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);

  /* light grey shades */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 27%, 70%);
  --clr-grey-7: hsl(209, 32%, 69%);
  --clr-grey-8: hsl(210, 38%, 74%);
  --clr-grey-9: hsl(210, 36%, 84%);
  --clr-grey-10: hsl(212, 33%, 96%);
  
  /* dark green shades */
  --clr-green-1: #1aa137;
  --clr-green-2: #06281e;
  --clr-green-3: #0d503c;
  --clr-green-4: #13795b;
  --clr-light-green: hsl(125,77%,67%);
  --clr-dark-green: hsl(125, 77%, 44%);
  /* other colors  */
  --clr-light-red: hsl(360, 77%, 67%);
  --clr-dark-red: hsl(360, 77%, 44%);
  --clr-gold: #c59d5c;
  --clr-lime: #fc5d65;
  --clr-dodger: #4eacdc;
  --clr-pink: #f28ab2;
  --clr-white: #fff;
  --clr-black: #222;
  --transition: all .3s linear;
  --spacing: .2rem;
  --radius: .25rem;
  --ff-primary-family: 'Roboto Sans',sans-serif;
  --ff-primary:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  --ff-secondary: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  --fixed-width: 620px;
  --max-width: 1170px;
  --shadow-1: 0 3px 1px 0 rgba(0,0,0,0.1),0 1px 3px 0 rgba(0,0,0,0.6);
  --shadow-2: 0 6px 4px -1px rgba(0,0,0,0.1),0 4px 2px -1px rgba(0,0,0,0.6);
  --shadow-3: 0 10px 15px -3px rgba(0,0,0,0.1),0 6px 4px -3px rgba(0,0,0,0.5);
  --shadow-4: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.4);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  color: var(--clr-grey-1);
  font-family: var(--ff-primary-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-grey-10);
  letter-spacing: var(--spacing);
  font-size: .875rem;
  line-height: 1.5;
}
code {
  font-family: var(--ff-secondary);
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  margin-bottom: .75rem;
  line-height: 1.25;
  font-family: var(--ff-primary);
}
h1 {
  margin-top: 0;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
p {
  color: var(--clr-grey-5);
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
  font-size: 2rem
  }
  h4 {
    font-size: 1.5rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
@keyframes bounce{
  0% {
    transform: scale(1);
  }
  50%{
    opacity: .5;
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes humburger_puls {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.4);
  }
  100%{
    transform: scal(1);
  }
}

/*
==============
GLobal Styles
==============
*/
section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  text-align: center;
}
@media screen and (min-width: 920px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  align-items: center;
}

/* 
=============
color Styles
=============
*/
nav {
  padding: 1rem 1.5rem;
  background: var(--clr-white);
  box-shadow: var(--shadow-4);
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-header h4 {
  animation: bounce 3s ease-in-out infinite;
}
.nav-header h4 span {
  color: var(--clr-secondary-5);
}
.nav-toggle {
  color: var(--clr-secondary-5);
  background: transparent;
  border: transparent;
  font-size: 1.1rem;
  cursor: pointer; 
  transition: var(--transition);
  border-radius: var(--radius);
}
.nav-toggle:hover {
  color: var(--clr-black);
  transform: rotate(90deg);
}
.links-container {
  height:0;
  transition: var(--transition);
  overflow: hidden;
}
.links a {
  color: var(--clr-secondary-1);
  font-size: 1.1rem;
  cursor: pointer;
  margin: 0 .5rem;
  display: block;
  padding: .375rem .75rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  text-transform: capitalize;
  padding: 1rem;
}
.links a:hover {
  background: var(--clr-secondary-10);
  padding-left: 1rem;
}
.social-icons {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a:hover {
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin-right: 1rem;
    color: var(--clr-secondary-5);
    font-size: .75rem;
  }
  .social-icons a:hover {
    color: var(--clr-secondary-1);
  }
}
.container {
  text-align: center;
  margin: 0 auto;
  align-items: center;
}
.container h3 {
  color: var(--clr-secondary-3);
  margin-bottom: 1.25rem;
}
.form {
  padding: 2rem 3.5rem;
  box-shadow: var(--shadow-2);
  max-width: var(--fixed-width);
  background: var(--clr-white);
  margin: 1rem auto;
  display: block;
  border-radius: var(--radius);
}
label {
  text-transform: capitalize;
  color: var(--clr-secondary-1);
}
input {
  padding: .375rem .75rem;
  background: var(--clr-grey-10);
  border: transparent;
  border-radius: var(--radius);
  margin: .5rem;
  font-size: .875rem;
  padding-left: 2rem;
  text-transform: none;
  color: var(--clr-grey-5);
  cursor: pointer;
}
input::placeholder {
  color: var(--clr-grey-8);
}
input.error {
  border: 2px solid var(--clr-dark-red);
}
.submit-btn {
  font-size: 1.1rem;
  margin: 0 auto;
  padding: .375rem .75rem;
  text-transform: capitalize;
  color: var(--clr-white);
  background: var(--clr-secondary-2);
  border: transparent;
  display: inline-block;
  text-align: center;
  margin-top: 1.5rem;
  border-radius: var(--radius);
  transition: var(--transition);
  cursor: pointer;
}
.submit-btn:hover {
  background: var(--clr-secondary-7);
}
.colors {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(96px, 1fr));
  margin-top: 1rem;
}
.color {
  padding: 1rem 2rem;
  text-transform: none;
  text-align: center;
}
.color-value {
  color: var(--clr-grey-1);
}
.percent-value {
  color: var(--clr-grey-1);
}
.color-light .percent-value {
  color: var(--clr-white);
}
.color-light .color-value {
  color: var(--clr-white);
}
.alert {
  text-transform: uppercase;
  font-size: .875rem;
  margin-top: .5rem;
}